* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*da rimuovere dopo sviluppo*/
#debug {
    border: 2px dashed #000000;
    height: 399px;
    width: 911px;

}

.content {
    border: 2px dashed #000000;
}

.content-two {
    border: 2px dashed #000000;
}

.content-tree {
    width: 360px;
    height: 578px;
    border: 2px dashed #000000;
}

.content-four {
    height: 578px;
    width: 841px;
    border: 2px dashed #000000
}

.content-child {
    border: 2px dashed #ffffff;
    width: 210px;
}

/*header*/
#intestazione {
    background-color: #add8e6;
    display: flex;
    justify-content: center;
    height: 80px;
}

nav {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 70%;
}

#intestazione nav>div {
    background-color: #daa520;
    border: 2px dashed #000000;
    padding: 15px 13px;

}

.logo {
    flex-grow: 1;
    text-align: left;

}

.link {
    flex-grow: 2;
    text-align: center;

}

.login {
    flex-grow: 1;
    text-align: right;
}

/*main*/

/*section*/
section {
    padding-top: 53px;
    padding-bottom: 55px;
}

/*container*/
.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

.content {
    height: 497px;
    width: 720px;
    background-color: #1e90ff;
}

.content-two {
    height: 497px;
    width: 480px;
    background-color: #ffc0cb;

}

.content-tree {
    background-color: #f08080;

}

.content-four {
    display: flex;
    justify-content: flex-start;

}

.content-child {
    background-color: #20b2aa;

}

.bg-grey-1>div {
    background-color: #228b22;
    height: 900px;
    width: 1200px;
    border: 2px dashed #000000;
}

/*utilities classes*/
.bg-blue {
    background-color: #00008b;
}

.bg-white {
    background-color: #ffffff;
}

.bg-grey {
    background-color: #d3d3d3;
}

.bg-grey-1 {
    background-color: #d3d3d3;
}

.bg-black {
    background-color: #23272a;
}

.bg-blue>div {
    background-color: #ee82ee;
}