* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*da rimuovere dopo sviluppo*/
.container {
    border: 1px dashed #000000;

}

/*header*/
header {
    background-color: #add8e6;
    height: 70px;
    padding: 20px 362px 70px;
}

nav {
    display: flex;
    justify-content: center;
}

#due {
    flex-grow: 1;
    padding-left: 266px;

}

#tre {
    padding-left: 186px;
}

/*section*/
section {
    padding-top: 53px;
    padding-bottom: 55px;
}

/*container*/
div.container-logo {
    background-color: #daa520;
    border: 1px dashed #000000;
    padding: 15px 13px;
    width: 240px;

}

.container {
    width: 911px;
    height: 399px;
    margin: 0 auto;
    display: flex;


}

.bg-blue>div {
    background-color: #ee82ee;
}

.bg-grey-1>div {
    background-color: #228b22;
    height: 900px;
    width: 1200px;
}
/*utilities classes*/
.bg-blue {
    background-color: #00008b;
}

.bg-white {
    background-color: #ffffff;
}

.bg-grey {
    background-color: #d3d3d3;
}

.bg-grey-1 {
    background-color: #d3d3d3;
}


.bg-black {
    background-color: #23272a;
}