* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
nav{
    display: flex;
    

}
header{
    background-color: #add8e6;
}
.container{
    width: 200px;
    background-color: #daa520;
    
    
    


}





section{
    height: 300px;
}






/*da rimuovere dopo sviluppo*/    
nav .container{
    border:1px dashed #000000;

}

/*container*/

  

/*utilities classes*/
.bg-blue{
    background-color:#00008b;
}
.bg-white{
    background-color:#ffffff;
}
.bg-grey{
    background-color:#d3d3d3;
}
.bg-black{
    background-color:#23272a;
}

